@using Attendiia.Authentication
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <RedirectToPage />
                </NotAuthorized>
                <Authorizing>
                    <Loader IsFullScreen="true" Message="グループの情報を読み込んでいます" />
                </Authorizing>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <PageTitle>指定されたページが見つかりません</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">指定されたページが見つかりませんでした。</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>