header {
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--pad-l);
    background: var(--primary-color-500);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px var(--pad-xl) var(--pad-xl);
    color: var(--white);
}

.logo {
    display: flex;
    gap: var(--pad-l);
    align-items: center;
    justify-content: center;
}

.logo>img {
    width: 30px;
    object-fit: contain;
}

.title {
    font-family: "RocknRoll One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.version {
    font-size: 12px;
}