<header>
    <div class="logo">
        <img src="icon.png" alt="icon" />
        <span class="title">アテンディア</span>
        <span class="version">v0.1</span>
    </div>
    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
            d="M16 29.3333C8.63596 29.3333 2.66663 23.364 2.66663 16C2.66663 8.63599 8.63596 2.66666 16 2.66666C23.364 2.66666 29.3333 8.63599 29.3333 16C29.3333 23.364 23.364 29.3333 16 29.3333ZM16 27.7333C19.1118 27.7333 22.0963 26.4971 24.2967 24.2967C26.4971 22.0963 27.7333 19.1119 27.7333 16C27.7333 12.8881 26.4971 9.9037 24.2967 7.70327C22.0963 5.50284 19.1118 4.26666 16 4.26666C12.8881 4.26666 9.90367 5.50284 7.70324 7.70327C5.50281 9.9037 4.26663 12.8881 4.26663 16C4.26663 19.1119 5.50281 22.0963 7.70324 24.2967C9.90367 26.4971 12.8881 27.7333 16 27.7333ZM15.2 13.3333H16.8V22.6667H15.2V13.3333ZM16 12C15.6463 12 15.3072 11.8595 15.0572 11.6095C14.8071 11.3594 14.6666 11.0203 14.6666 10.6667C14.6666 10.313 14.8071 9.9739 15.0572 9.72385C15.3072 9.4738 15.6463 9.33332 16 9.33332C16.3536 9.33332 16.6927 9.4738 16.9428 9.72385C17.1928 9.9739 17.3333 10.313 17.3333 10.6667C17.3333 11.0203 17.1928 11.3594 16.9428 11.6095C16.6927 11.8595 16.3536 12 16 12Z"
            fill="#F7F7F7" />
    </svg>
</header>