.wrapper {
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: auto minmax(0, 1fr) auto;
}

.center {
    overflow: hidden;
    padding: var(--pad-m);
}