@page "/create/attendance"
<Animate class="container create" Animation="Animations.FadeUp">
    <div class="contents">
        <div>新しい出欠を作成</div>
    </div>
    <Return ReturnTo="/" />
</Animate>