@page "/create/attendance"
@inject IAttendanceService AttendanceService
@inject NavigationManager NavigationManager
@attribute [Authorize]
<Animate class="container create" Animation="Animations.FadeUp">
    <div class="contents">
        <div class="title">新しい出欠を作成</div>
        <EditForm class="input-area" Model="@attendanceCreateForm" OnValidSubmit="OnValidRequest">
            <DataAnnotationsValidator />
            <div class="input-label">
                <div>題名(20文字まで)</div>
                <ValidationMessage For="() => attendanceCreateForm.Title" />
            </div>
            <InputText disabled=@isLoading @bind-Value=@attendanceCreateForm.Title />
            <div class="input-label">
                <div>説明(200文字まで)</div>
                <ValidationMessage For="() => attendanceCreateForm.Description" />
            </div>
            <InputTextArea disabled=@isLoading @bind-Value=@attendanceCreateForm.Description />
            <InputText hidden @bind-Value=@attendanceCreateForm.AuthorEmail />
            <button disabled=@isLoading type="submit">作成する</button>
        </EditForm>
        @if (isLoading)
        {
            <Loader />
        }
    </div>
    <Return ReturnTo="" />
</Animate>
