@page "/create/attendance"
<Animate class="container create" Animation="Animations.FadeUp">
    <div class="contents">
        <h1>Attendance</h1>
    </div>
    <Return ReturnTo="/" />
</Animate>