@page "/create/contact"
@attribute [Authorize(Policy = AuthorizePolicy.REQUIRE_GROUP)]
<Animate class="container create" Animation="Animations.FadeUp">
    <div class="contents">
        <div>新しい連絡を作成</div>
    </div>
    <Return ReturnTo="/" />
</Animate>