@page "/create/group"
@attribute [Authorize(Policy = AuthorizePolicy.DEFAULT)]
<Animate class="container create" Animation="Animations.FadeUp">
    <div class="contents">
        <div>新しいグループを作成</div>
    </div>
    <Return ReturnTo="/" />
</Animate>