.contents {
    overflow: auto;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: auto minmax(0, 1fr);
    grid-gap: var(--pad-l);
    position: relative;
}

.title {
    font-size: 1.2em;
    font-weight: 500;
}

.input-label {
    display: flex;
    gap: var(--pad-m);
    align-items: center;
}

::deep .input-area {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: auto auto auto minmax(0, 1fr) auto;
    grid-gap: var(--pad-l);
}

::deep .input-area>input {
    width: 100%;
    text-align: start;
    font-size: 16px;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

::deep .input-area>button {
    margin: auto;
}