.add-button {
    outline: none;
    border: none;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color-400);
    box-shadow: 0 4px 8px rgba(0, 0, 0, .45);
    cursor: pointer;
}

.add-button:active {
    box-shadow: 0 0 4px rgba(0, 0, 0, .25);
}