@if (IsFullScreen)
{
    <div class="fullscreen-loader-wrapper">
    <div class="loader"></div>
    <div>@Message</div>
</div>
}
else
{
    <div class="loader-wrapper">
    <div class="loader"></div>
    <div>@Message</div>
</div>
}