html,
body,
#app {
    height: 100%;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


/* reset default style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
select,
button {
    appearance: none;
    -webkit-appearance: none;
}

.bold {
    font-weight: 600 !important;
}

:root {
    --primary-color-500: #385C33;
    --primary-color-400: #4E885C;
    --primary-color-300: #6EB98F;
    --primary-color-200: #A6D8C2;
    --white: #F7F7F7;
    --gray: #EEEEEE;
    --black: #333333;
    --pad-s: 2px;
    --pad-m: 4px;
    --pad-l: 8px;
    --pad-xl: 16px;
}

body {
    background-color: var(--white);
    color: var(--black);
    padding-bottom: env(safe-area-inset-bottom);
}