@page "/attendance/detail"
@attribute [Authorize(Policy = AuthorizePolicy.REQUIRE_GROUP)]
@inject IAttendanceService AttendanceService
@inject IAttendanceResponseService AttendanceResponseService
@inject NavigationManager NavigationManager
<Animate class="container hide-menu" Animation="Animations.FadeLeft">
    <div class="wrapper">
        <div class="attendance-card">
            @if (attendance == null)
            {
                <Loader Message="出欠の情報を取得しています" />
            }
            <div class="title">@attendance?.Title</div>
            <div class="description">@attendance?.Description</div>
        </div>
        <div>回答一覧</div>
        <div class="responses">
        </div>
        <div>コメント</div>
        <textarea @bind=@comment></textarea>
        <div>回答</div>
        <div class="three actions">
            <button @onclick=@OKButtonOnClick>
                <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_58_8)">
                        <path
                            d="M28 0C30.5703 0 33.0495 0.328125 35.4375 0.984375C37.8255 1.64062 40.0495 2.58854 42.1094 3.82812C44.1693 5.06771 46.056 6.52604 47.7695 8.20312C49.4831 9.88021 50.9505 11.7669 52.1719 13.8633C53.3932 15.9596 54.332 18.1927 54.9883 20.5625C55.6445 22.9323 55.9818 25.4115 56 28C56 30.5703 55.6719 33.0495 55.0156 35.4375C54.3594 37.8255 53.4115 40.0495 52.1719 42.1094C50.9323 44.1693 49.474 46.056 47.7969 47.7695C46.1198 49.4831 44.2331 50.9505 42.1367 52.1719C40.0404 53.3932 37.8073 54.332 35.4375 54.9883C33.0677 55.6445 30.5885 55.9818 28 56C25.4297 56 22.9505 55.6719 20.5625 55.0156C18.1745 54.3594 15.9505 53.4115 13.8906 52.1719C11.8307 50.9323 9.94401 49.474 8.23047 47.7969C6.51693 46.1198 5.04948 44.2331 3.82812 42.1367C2.60677 40.0404 1.66797 37.8073 1.01172 35.4375C0.355469 33.0677 0.0182292 30.5885 0 28C0 25.4297 0.328125 22.9505 0.984375 20.5625C1.64062 18.1745 2.58854 15.9505 3.82812 13.8906C5.06771 11.8307 6.52604 9.94401 8.20312 8.23047C9.88021 6.51693 11.7669 5.04948 13.8633 3.82812C15.9596 2.60677 18.1927 1.66797 20.5625 1.01172C22.9323 0.355469 25.4115 0.0182292 28 0ZM28 52.5C30.2604 52.5 32.4297 52.2083 34.5078 51.625C36.5859 51.0417 38.5365 50.2214 40.3594 49.1641C42.1823 48.1068 43.832 46.8307 45.3086 45.3359C46.7852 43.8411 48.0612 42.1914 49.1367 40.3867C50.2122 38.582 51.0417 36.6315 51.625 34.5352C52.2083 32.4388 52.5 30.2604 52.5 28C52.5 25.7396 52.2083 23.5703 51.625 21.4922C51.0417 19.4141 50.2214 17.4635 49.1641 15.6406C48.1068 13.8177 46.8307 12.168 45.3359 10.6914C43.8411 9.21484 42.1914 7.9388 40.3867 6.86328C38.582 5.78776 36.6315 4.95833 34.5352 4.375C32.4388 3.79167 30.2604 3.5 28 3.5C25.7396 3.5 23.5703 3.79167 21.4922 4.375C19.4141 4.95833 17.4635 5.77865 15.6406 6.83594C13.8177 7.89323 12.168 9.16927 10.6914 10.6641C9.21484 12.1589 7.9388 13.8086 6.86328 15.6133C5.78776 17.418 4.95833 19.3685 4.375 21.4648C3.79167 23.5612 3.5 25.7396 3.5 28C3.5 30.2604 3.79167 32.4297 4.375 34.5078C4.95833 36.5859 5.77865 38.5365 6.83594 40.3594C7.89323 42.1823 9.16927 43.832 10.6641 45.3086C12.1589 46.7852 13.8086 48.0612 15.6133 49.1367C17.418 50.2122 19.3685 51.0417 21.4648 51.625C23.5612 52.2083 25.7396 52.5 28 52.5Z"
                            fill="#385C33" />
                    </g>
                    <defs>
                        <clipPath id="clip0_58_8">
                            <rect width="56" height="56" fill="white" />
                        </clipPath>
                    </defs>
                </svg>
            </button>
            <button @onclick=@HoldButtonOnClick>
                <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M52.5 52.5H0L26.25 0L52.5 52.5ZM5.66016 49H46.8398L26.25 7.82031L5.66016 49Z"
                        fill="#385C33" />
                </svg>
            </button>
            <button @onclick=@NGButtonOnClick>
                <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_58_10)">
                        <path
                            d="M61.0364 58.5615L58.5616 61.0364L40 42.4748L21.4384 61.0364L18.9636 58.5615L37.5251 40L18.9636 21.4384L21.4384 18.9635L40 37.5251L58.5616 18.9635L61.0364 21.4384L42.4749 40L61.0364 58.5615Z"
                            fill="#385C33" />
                    </g>
                    <defs>
                        <clipPath id="clip0_58_10">
                            <rect width="56" height="56" fill="white" transform="translate(40 0.401978) rotate(45)" />
                        </clipPath>
                    </defs>
                </svg>
            </button>
        </div>
    </div>
    <Return ReturnTo="" />
    @if (isLoading)
    {
        <Loader IsFullScreen="true" Message="回答を送信しています" />
    }
</Animate>