@page "/find"
@attribute [Authorize(Policy = AuthorizePolicy.DEFAULT)]
<Animate class="container create" Animation="Animations.FadeUp" Duration="TimeSpan.FromSeconds(0.5)">
    <div>所属グループを探す</div>
</Animate>