@page "/"
@inject NavigationManager NavigationManager
@attribute [Authorize]
<Animate class="container" Animation="Animations.Fade">
    <div>出欠</div>
    <AddButton OnClick="@(() => NavigationManager.NavigateTo("create/attendance"))" />
</Animate>