@page "/register"
<div class="fullscreen">
    <div class="register-form">
        <div>
            <div class="title">新規アカウント作成</div>
            <div class="description">*のついている項目は必須です</div>
        </div>
        <div class="input-group">
            <div class="input-form">
                <input type="email" placeholder="メールアドレス*" />
            </div>
            <div class="input-form">
                <input type="text" placeholder="表示名*" />
            </div>
            <div class="input-form">
                <input type="text" placeholder="姓" />
            </div>
            <div class="input-form">
                <input type="text" placeholder="名" />
            </div>
            <div class="input-form">
                <input type="password" placeholder="パスワード*" />
            </div>
            <div class="input-form">
                <input type="password" placeholder="パスワードの確認*" />
            </div>
        </div>
        <button>作成する</button>
    </div>
</div>