.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: var(--primary-color-500);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: env(safe-area-inset-bottom);
}

.login-form {
    display: grid;
    text-align: center;
    grid-template-columns: auto;
    grid-template-rows: minmax(0, 1fr) minmax(0, 2fr) auto;
    padding: 32px 16px;
    background-color: var(--white);
    color: var(--black);
    border-radius: 32px;
    height: 70%;
    max-height: 480px;
}

.title {
    font-family: "RocknRoll One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 96px;
    height: 96px;
    padding: var(--pad-xl);
}

.function {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--pad-xl);
}

.or {
    font-size: 12px;
    padding: var(--pad-l);
}

.error {
    position: fixed;
    bottom: 40px;
    left: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}