@page "/sign-in"
@inject IAuthenticationService FirebaseAuthenticationService
@inject NavigationManager NavigationManager
<div class="fullscreen">
    <div class="login-form">
        <span class="title">アテンディア</span>
        <div class="input-group">
            <input type="email" placeholder="メールアドレス" />
            <input type="password" placeholder="パスワード" />
        </div>
        <div class="function">
            <button @onclick=@SignInButtonOnClick>サインイン</button>
            <div class="or">または</div>
            <button class="outline" @onclick=@RegisterButtonOnClick>アカウント作成</button>
        </div>
    </div>
    <div class="error">
        @_message
    </div>
</div>