@page "/sign-in"
<div class="fullscreen">
    <img class="icon" src="icon-192.png" />
    <div class="function">
        <div class="input-group">
            <input type="email" placeholder="メールアドレス" />
            <input type="password" placeholder="パスワード" />
        </div>
        <button>サインイン</button>
        <div>または</div>
        <button>アカウント作成</button>
    </div>
</div>